@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

.commentsForm {
  @include flex-set(row, space-between, center);
  @include size(100%, 55px);
  padding: 0 16px;
  border-top: 1px solid var(--grey);

  > i {
    @include size(40px, 40px);
    padding: 8px 16px 8px 0;
    font-size: 24px;
  }

  > label {
    @include flex-set(row, initial, center);
    position: relative;

    > span {
      position: absolute;
      display: flex;
      top: 50%;
      transform: translate(0, -50%);
    }

    > input {
      display: flex;
      width: 500px;
      border: none;
      outline: none;
    }
  }

  > button {
    border: none;
    background-color: white;
    color: var(--light-blue);
    outline: none;
    font-size: 14px;
    line-height: 18px;
  }
}
