@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

@mixin translateCenter() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  @include flex-set(column, center, center);
  @include size(100%, 100%);
  margin-top: 32px;
  padding-bottom: 32px;

  .loginContainer {
    @include flex-set(row, center, center);
    height: 100%;
    margin-top: 12px;
    padding-bottom: 60px;

    .loginBlock {
      @include flex-set(column, center, center);
      @include translateCenter();
      position: absolute;
      padding: 10px 0;
      border: 1px solid var(--grey);

      .logo {
        @include flex-set(row, center, center);
        width: 175px;
        margin: 39.5px auto 12px auto;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
      }
    }
  }
}
