@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

.commentsDesc {
  @include flex-set(row, initial, initial);
  position: relative;
  height: 18px;
  line-height: 1.5rem;
  font-size: 14px;

  > div {
    &:first-child {
      font-weight: 700;
      margin-right: 5px;
      > a {
        text-decoration: none;
        color: black;
      }
    }
    &:last-child {
      font-weight: 400;
      margin-right: 5px;
      > a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .commentsDescButtonBlock {
    position: absolute;
    display: flex;
    top: 1px;
    right: 10px;

    > button {
      margin-left: 10px;
      padding: 0;
      background-color: white;
      border: none;
      outline: none;
      cursor: pointer;

      &:last-child {
        color: var(--blue);
      }
    }
  }
}
