@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

.Feed {
  @include flex-set(column, initial, initial);
  margin-bottom: 30px;
  border: 1px solid var(--grey);
  background-color: white;

  .photoIcons {
    display: flex;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0 16px;

    .photoIconsLeft {
      display: flex;
      width: 50%;

      > button {
        @include flex-set(row, initial, center);
        @include size(40px, 40px);
        padding: 8px;
        border: none;
        background-color: white;
        font-size: 24px;
        outline: none;
      }
    }

    .photoIconsRight {
      @include flex-set(row, flex-end, initial);
      width: 50%;

      > button {
        @include flex-set(row, initial, center);
        @include size(40px, 40px);
        padding: 8px;
        border: none;
        background-color: white;
        font-size: 24px;
        outline: none;
      }
    }
  }
}
