@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

footer {
  display: flex;
  padding: 0 16px;
  background-color: var(--light-grey);

  .loginFooterWrap {
    @include flex-set(row, initial, center);
    @include size(100%, 78px);

    .loginFooterDesc {
      @include flex-set(row, center, center);
      width: 100%;
      flex-wrap: wrap;
      flex: 0 0 auto;
      font-size: 12px;

      > li {
        display: flex;
        margin: 0 8px 12px 8px;

        > a {
          display: flex;
          color: var(--text-grey);
          text-decoration: none;
        }
      }
    }
  }
}
