@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

.loginBlockLabel {
  @include size(268px, 40px);
  position: relative;
  margin: 0 40px 8px 40px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background-color: var(--light-grey);
  color: var(--input-font-color);

  > label {
    @include flex-set(column, center, center);
    position: relative;

    > input {
      @include size(258px, 36px);
      padding: 9px 0 7px 8px;
      border: none;
      background-color: var(--light-grey);
      outline: none;
    }
  }
}
