@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

.photoTitle {
  @include flex-set(row, initial, center);
  @include size(100%, 60px);
  padding: 16px;
  border-bottom: 1px solid var(--grey);

  .photoProfile {
    @include flex-set(row, initial, center);
    @include size(100%, 100%);

    > img {
      @include size(32px, 32px);
      display: flex;
      margin: 0 14px 0 0;
      border: 1px solid var(--pink);
      border-radius: 50%;
    }
  }
}
