:root {
  --blue: #0095f6;
  --light-blue: rgb(198, 222, 250);
  --grey: rgb(219, 219, 219);
  --light-grey: rgb(250, 250, 250);
  --input-font-color: rgb(142, 142, 142);
  --pink: #cd2e83;
  --text-grey: rgba(38, 38, 38, 0.5);
}

.hidden {
  visibility: hidden;
}

@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

.loginSection {
  @include flex-set(column, center, stretch);

  .loginMain {
    @include flex-set(column, space-between, center);
    min-height: 100vh;

    .loginHeader {
      @include flex-set(row, center, initial);
      width: 100%;
      margin: 16px;
      font-size: 12px;

      .headerContainer {
        display: flex;
        height: 18px;
        color: var(--grey);

        > i {
          margin-left: 5px;
        }
      }
    }

    .login {
      @include flex-set(column, center, center);
      @include size(100%, 100%);
      margin-top: 32px;
      padding-bottom: 32px;

      .loginContainer {
        @include flex-set(row, center, center);
        height: 100%;
        margin-top: 12px;
        padding-bottom: 60px;

        .loginBlock {
          @include flex-set(column, center, center);
          padding: 10px 0;
          border: 1px solid var(--grey);

          .logo {
            @include flex-set(row, center, center);
            width: 175px;
            margin: 39.5px auto 12px auto;
            text-align: center;
            font-family: 'Lobster', cursive;
            font-size: 2.5rem;
          }

          .loginBlockForm {
            @include flex-set(column, initial, center);

            .loginBlockWrap {
              @include flex-set(column, initial, center);
              margin: 24px 0 0 0;

              .loginBlockFacebook {
                position: relative;
                margin: 8px 40px;

                > button {
                  @include flex-set(row, center, center);
                  @include size(268px, 32px);
                  padding: 5px 9px;
                  border: 1px solid var(--grey);
                  border-radius: 4px;
                  background-color: var(--blue);
                  color: white;
                  font-size: 14px;
                  line-height: 18px;

                  > img {
                    @include size(18px, 18px);
                    margin-right: 8px;
                  }
                }
              }

              .loginBlockOr {
                @include flex-set(row, center, center);
                @include size(268px, 15px);
                margin: 14px 40px 22px 40px;

                .lineDiv {
                  @include size(104.75px, 1px);
                  display: flex;
                  background-color: var(--grey);
                }

                .loginBlockOrText {
                  display: flex;
                  margin: 0 18px;
                  font-size: 13px;
                }
              }

              .loginBlockLabel {
                @include size(268px, 40px);
                position: relative;
                margin: 0 40px 8px 40px;
                border: 1px solid var(--grey);
                border-radius: 4px;
                background-color: var(--light-grey);
                color: var(--input-font-color);

                > label {
                  @include flex-set(column, center, center);
                  position: relative;

                  > input {
                    @include size(258px, 36px);
                    padding: 9px 0 7px 8px;
                    border: none;
                    background-color: var(--light-grey);
                    outline: none;
                  }
                }
              }

              .loginBlockNewPw {
                @include flex-set(row, flex-end, center);
                @include size(268px, 35px);
                margin: 0 40px;
                padding: 12px 0;
                font-size: 14px;

                > a {
                  color: var(--blue);
                  text-decoration: none;
                }
              }

              .loginBlockButton {
                @include flex-set(row, center, center);
                @include size(268px, 30px);
                margin: 8px 40px;

                > button {
                  @include size(268px, 30px);
                  padding: 5px 9px;
                  border: 1px solid var(--grey);
                  border-radius: 4px;
                  background-color: var(--light-blue);
                  color: white;
                  font-size: 14px;
                  line-height: 18px;
                }
              }
            }

            .signUp {
              @include flex-set(row, center, initial);
              width: 348px;
              margin: 10px 0 14.5px 0;
              font-size: 14px;

              > span {
                > a {
                  color: var(--blue);
                  text-decoration: none;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }

    .facebookLogo {
      @include flex-set(column, center, center);
      align-items: center;
      margin-bottom: 28px;
      font-size: 14px;
      line-height: 16px;

      > span:first-child {
        color: var(--grey);
      }
    }
  }
}

footer {
  display: flex;
  padding: 0 16px;
  background-color: var(--light-grey);

  .loginFooterWrap {
    @include flex-set(row, initial, center);
    @include size(100%, 78px);

    .loginFooterDesc {
      @include flex-set(row, center, center);
      width: 100%;
      flex-wrap: wrap;
      flex: 0 0 auto;
      font-size: 12px;

      > div {
        display: flex;
        margin: 0 8px 12px 8px;

        > a {
          display: flex;
          color: var(--text-grey);
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .loginBlock {
    @include flex-set(column, center, center);
    @include size(100%, 100%);
    position: fixed;
    border: none;
    padding: 10px 0;
  }
}
