:root {
  --blue: #0095f6;
  --light-blue: rgb(198, 222, 250);
  --grey: rgb(219, 219, 219);
  --light-grey: rgb(250, 250, 250);
  --input-font-color: rgb(142, 142, 142);
  --pink: #cd2e83;
  --text-grey: rgba(38, 38, 38, 0.5);
}

.hidden {
  visibility: hidden;
}

@mixin flex-set(
  $flex-direction: column,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

@mixin translateCenter() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginSection {
  @include flex-set(column, center, stretch);

  .loginMain {
    @include flex-set(column, space-between, center);
    min-height: 100vh;

    .loginHeader {
      @include flex-set(row, center, initial);
      width: 100%;
      margin: 16px;
      font-size: 12px;

      .headerContainer {
        display: flex;
        height: 18px;
        color: var(--grey);

        > i {
          margin-left: 5px;
        }
      }
    }

    .facebookLogo {
      @include flex-set(column, center, center);
      align-items: center;
      margin-bottom: 28px;
      font-size: 14px;
      line-height: 16px;

      > span:first-child {
        color: var(--grey);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .loginBlock {
    @include flex-set(column, center, center);
    @include size(100%, 100%);
    position: fixed;
    border: none;
    padding: 10px 0;
  }
}
