// footer

.footerContainer {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

%footerBoxLi {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0 5px;
}

.footerBox {
  height: 20px;
  width: 500px !important;
  margin-top: 50px;
  margin-left: -280px;
  li {
    @extend %footerBoxLi;
    padding: 0 3px;
  }
  div {
    padding-bottom: 10px;
  }
}
