// footer

.footerLoginContainer {
  margin: 60px 0 30px -90px;
  width: 550px;
}

%footerLoginLi {
  display: inline-block;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 400;
  font-size: 12px;
  margin: 0 5px;
}

.footerLogin {
  li {
    @extend %footerLoginLi;
    padding: 0 3px;
  }

  div {
    padding-bottom: 8px;
  }
}
